html {
	font-size: 10px;
}

body {
	font-family: $common-font;
	@include fontSize(20);
	max-width: 100%;
}

.btn-tr {
	@include button-bg(transparent,$accent-color);
	border: 5px solid $accent-color;
}
.btn-white {
	@include button-bg($white-color,$accent-color);
}
.btn-s {
	@include fontSize(22);
}
.btn-b {
	@include fontSize(30);
}
.burger {
	display: none;
    height: 20px;
    width: 30px;
    position: absolute;
    cursor: pointer;
    z-index: 10;
    top: 5%;
    right: 5%;
		&_l {
    		position: absolute;
    		display: block;
    		height: 3px;
    		width: 100%;
    		background: $accent-color;
    		transition: all .4s;
				&__top {
    				top: 0;
				}
				&__middle {
    				top: 8px;
				}
				&__bottom {
    				bottom: 0;
				}
			}

		}
	.burger_l__top.active {
    	transform: rotate(45deg);
    	top: 5px;
    	background: $white-color;

	}
	.burger_l__middle.active {
    	background: transparent;
    	transform: rotate(90deg);
	}
	.burger_l__bottom.active {
    	transform: rotate(-45deg);
    	top: 5px;
    	background: $white-color;
	}
.sc-title {
	color: $gray-color;
	@include fontSize(72);
	font-family: $common-bold-font;
	text-transform: uppercase;
	&__sm {
		@include fontSize(36);
	}
	&__r {
		color: $accent-color;
	}
	&__w {
		color: $white-color;
	}
}
.dots,
.btn-more {
	display: inline-block;
	text-decoration: none;
	position: absolute;
	bottom: 10%;
    right: 10%;
	& span {
		display: inline-block;
		width: 13px;
		height: 13px;
		background: $accent-color;
	}
}
.btn-more {
	opacity: 0;
}

.wrapper {
		padding: 0 5%;
		padding-bottom: 2%;
	}
.header_btn {
	will-change: transform;
}	