
@font-face {
    font-family: 'tt_normsextrabold';
    src: url('../fonts/ttnorms-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/ttnorms-extrabold-webfont.woff') format('woff'),
         url('../fonts/ttnorms-extrabold-webfont.svg#tt_normsextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'tt_normsbold';
    src: url('../fonts/ttnorms-bold-webfont.woff2') format('woff2'),
         url('../fonts/ttnorms-bold-webfont.otf') format('ttf'),
         url('../fonts/ttnorms-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'tt_normsregular';
    src: url('../fonts/ttnorms-regular-webfont.woff2') format('woff2'),
         url('../fonts/ttnorms-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

