//====adaptive font====//

@mixin fontSize ($pixels) {
    font-size: $pixels * 1px;
    font-size: $pixels * 0.1rem ;
}


//=====buttons mixin=====//
@mixin button-bg($bg,$text-color) {
  background: $bg;
  color: $text-color;
  padding: 0.7em 1.5em;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  &:hover {
    background: $text-color;
    color: $white-color;
  }
  &:active {
    transform: scale(1.1);
  } 
}
