//=======fonts=======//

$common-font: "tt_normsregular", sans-serif;
$common-bold-font: "tt_normsbold", sans-serif;
$common-extrabold-font: "tt_normsextrabold", sans-serif;


//======colors======//

$accent-color: #dc1921; 
$white-color: #ffffff;
$gray-color: #303030;