@media screen and (max-width:768px) {
  .intro {
  		&_row {
  			
  		}
  		&_col {
  			&:last-child {
  		    flex-basis: 100%;
          padding: 50px 20px;
  		
  			}
  		}
  		&_content {
  			padding: 0;
  		}
  		&_logo {
  			width: 50%;
  			height: auto;
  		}
	}
}