@media screen and (max-width:768px) {
  .intro {
  		&_row {
  			flex-direction: column;
  		}
  		&_col {
  			&:last-child {
  		text-align: center;
  		padding: 50px 20px;
  			}
  		}
  		&_content {
  			padding: 0;
  		}
  		&_logo {
  			width: 50%;
  			height: auto;
  		}
	}
}