@media screen and (max-width:960px) {  
  .header_nav {
    	display: none;
    }
   .burger {
    	display: block;
    }	
   .header_content {
   	padding: 0;
   	text-align: center;
   }
   .header {
   	display: flex;
   	flex-direction: column;
   	justify-content: space-around;
   	align-items: center;
   }
}
 