.departments {
	margin-top: 40%;

	&_row {
		display: flex;
		border-top: $grey-border;
		&:last-child {
			border-bottom: $grey-border;
		}
	}
	&_block {
		
		flex-basis: 50%;
		padding-left: 4%;
		padding-top: 4%;
		padding-right: 3%;
		position: relative;
		transition: $animation;

		&:nth-child(odd) {
			border-right: $grey-border;
		}
		& h2 {
			margin: 0;
			padding-top: 2%;
		}
	}
	&_item {
		margin-bottom: 20px;
		color: $accent-color;
		& span {
			color: $gray-color;
		}
	}
	&_list {
		padding-bottom: 15%;
	}
}
.departments_block:hover {
	background: $accent-color;
	box-shadow: $shadow;
}
.departments_block:hover>h2,
.departments_block:hover>ul li,
.departments_block:hover>ul li span
.departments_block:hover.btn-more {
	color: $white-color;
}
.departments_block:hover .btn-more {
	opacity: 1;
}