<div class="about_wrapper">
	<h2 class="sc-title">Подробнее о нашей</br> модели «ПО ЗАПРОСУ»</h2>
	<div class="about_content">
		<div class="about_item">
			<p>Все наши компании работают в модели “по запросу”.</p>
		</div>
		<div class="about_item">
			<p>Мы формируем недостающий отдел в компании клиента и забираем на себя полностью весь функционал данного отдела, будь-то: финансы, маркетинг или продажи.</p>
		</div>
		<div class="about_item">
			<p>Наша основная услуга в каждом из направлений называется FULL.</p>
		</div>
		<div class="about_item">
			<p>Наша модель построена на абонентской плате - фиксированной сумме в месяц, которую ваша компания оплачивает за выполнение четкого перечня работ.</p>
		</div>
		<div class="about_item">
			<p>Некоторые из наших компаний предоставляют отдельные услуги, такие как консалтинг или разработка определенных документов по запросу.</p>
		</div>
	</div>
</div>
