<div class="departments_row">
	<div class="departments_block">
		<h2 class="sc-title sc-title__r">Startups</h2>
		<ul class="departments_list">
			<li class="departments_item"><span>маркетинг-команда по запросу</span></li>
			<li class="departments_item"><span>маркетинг-менеджер по запросу</span></li>
			<li class="departments_item"><span>выход на Product Hunt</span></li>
			<li class="departments_item"><span>выход на краудфандинговые платформы</span></li>
			<li class="departments_item"><span>консалтинг</span></li>
		</ul>
		<a class="dots" href="#">
			<span></span>
			<span></span>
			<span></span>
		</a>
		<a class="btn-white btn-more" href="#">Подробнее</a>
	</div>
	<div class="departments_block">
		<h2 class="sc-title sc-title__r">Smb</h2>
		<ul class="departments_list">
			<li class="departments_item"><span>маркетинг-команда по запросу</span></li>
			<li class="departments_item"><span>реализация проекта</span></li>
			<li class="departments_item"><span>консалтинг</span></li>
		</ul>
		<a class="dots" href="#">
			<span></span>
			<span></span>
			<span></span>
		</a>
		<a class="btn-white btn-more" href="#">Подробнее</a>
	</div>
</div>
<div class="departments_row">
	<div class="departments_block">
		<h2 class="sc-title sc-title__r">Digital</h2>
		<ul class="departments_list">
			<li class="departments_item"><span>разработка посадочных страниц, сайтов, интернет-магазинов</span></li>
			<li class="departments_item"><span>управление платными источниками трафика
и сквозная аналитика эффективности</span></li>
			<li class="departments_item"><span>внедрение CRM и IP телефонии</span></li>
		</ul>
		<a class="dots" href="#">
			<span></span>
			<span></span>
			<span></span>
		</a>
		<a class="btn-white btn-more" href="#">Подробнее</a>
	</div>
	<div class="departments_block">
		<h2 class="sc-title sc-title__r">Hr</h2>
		<ul class="departments_list">
			<li class="departments_item"><span>поиск специалистов в сфере маркетинга и продаж</span></li>
			<li class="departments_item"><span>executive search</span></li>
		</ul>
		<a class="dots" href="#">
			<span></span>
			<span></span>
			<span></span>
		</a>
		<a class="btn-white btn-more" href="#">Подробнее</a>
	</div>
</div>
<div class="departments_row">
	<div class="departments_block">
		<h2 class="sc-title sc-title__r">Finance</h2>
		<ul class="departments_list">
			<li class="departments_item"><span>команда финансовых менеджеров на аутсорсе</span></li>
			<li class="departments_item"><span>финансовый директор на аутсорсе</span></li>
			<li class="departments_item"><span>разработка бизнес-плана</span></li>
			<li class="departments_item"><span>создание презентаций для потенциальных инвесторов</span></li>
			<li class="departments_item"><span>создание презентация и отчетов для банков</span></li>
		</ul>
		<a class="dots" href="#">
			<span></span>
			<span></span>
			<span></span>
		</a>
		<a class="btn-white btn-more" href="#">Подробнее</a>
	</div>
	<div class="departments_block">
		<h2 class="sc-title sc-title__r">Sales</h2>
		<ul class="departments_list">
			<li class="departments_item"><span>аудит отдела продаж</span></li>
			<li class="departments_item"><span>отдел продаж на аутсорсе</span></li>
			<li class="departments_item"><span>колл-центр</span></li>
			<li class="departments_item"><span>консалтинг</span></li>
			<li class="departments_item"><span>обучение</span></li>
		</ul>
		<a class="dots" href="#">
			<span></span>
			<span></span>
			<span></span>
		</a>
		<a class="btn-white btn-more" href="#">Подробнее</a>
	</div>
</div>