<div class="departments_row">
	<div class="departments_block">
		<h2 class="sc-title sc-title__r">Startups</h2>
		<ul class="departments_list">
			<li class="departments_item">маркетинг-команда по запросу</li>
			<li class="departments_item">маркетинг-менеджер по запросу</li>
			<li class="departments_item">выход на Product Hunt</li>
			<li class="departments_item">выход на краудфандинговые платформы</li>
			<li class="departments_item">консалтинг</li>
		</ul>
		<a class="dots" href="#">
			<span></span>
			<span></span>
			<span></span>
		</a>
	</div>
	<div class="departments_block">
		<h2 class="sc-title sc-title__r">Smb</h2>
		<ul class="departments_list">
			<li class="departments_item">маркетинг-команда по запросу</li>
			<li class="departments_item">реализация проекта</li>
			<li class="departments_item">консалтинг</li>
		</ul>
		<a class="dots" href="#">
			<span></span>
			<span></span>
			<span></span>
		</a>
	</div>
</div>
<div class="departments_row">
	<div class="departments_block">
		<h2 class="sc-title sc-title__r">Digital</h2>
		<ul class="departments_list">
			<li class="departments_item">разработка посадочных страниц, сайтов, интернет-магазинов</li>
			<li class="departments_item">управление платными источниками трафика
и сквозная аналитика эффективности</li>
			<li class="departments_item">внедрение CRM и IP телефонии</li>
		</ul>
		<a class="dots" href="#">
			<span></span>
			<span></span>
			<span></span>
		</a>
	</div>
	<div class="departments_block">
		<h2 class="sc-title sc-title__r">Hr</h2>
		<ul class="departments_list">
			<li class="departments_item">поиск специалистов в сфере маркетинга и продаж</li>
			<li class="departments_item">executive search</li>
		</ul>
		<a class="dots" href="#">
			<span></span>
			<span></span>
			<span></span>
		</a>
	</div>
</div>
<div class="departments_row">
	<div class="departments_block">
		<h2 class="sc-title sc-title__r">Finance</h2>
		<ul class="departments_list">
			<li class="departments_item">команда финансовых менеджеров на аутсорсе</li>
			<li class="departments_item">финансовый директор на аутсорсе</li>
			<li class="departments_item">разработка бизнес-плана</li>
			<li class="departments_item">создание презентаций для потенциальных инвесторов</li>
			<li class="departments_item">создание презентация и отчетов для банков</li>
		</ul>
		<a class="dots" href="#">
			<span></span>
			<span></span>
			<span></span>
		</a>
	</div>
	<div class="departments_block">
		<h2 class="sc-title sc-title__r">Sales</h2>
		<ul class="departments_list">
			<li class="departments_item">аудит отдела продаж</li>
			<li class="departments_item">отдел продаж на аутсорсе</li>
			<li class="departments_item">колл-центр</li>
			<li class="departments_item">консалтинг</li>
			<li class="departments_item">обучение</li>
		</ul>
		<a class="dots" href="#">
			<span></span>
			<span></span>
			<span></span>
		</a>
	</div>
</div>