<div class="container">
	<div class="header_content">
		<h1 class="header_title">Quadrate 28<br>Corp</h1>
		<a href="#" class="btn-tr btn-s">Подробнее</a>
	</div>
</div>	
<nav class="header_nav">
	<div class="header_nav_top">
		<div class="lang">
			<a class="lang_link lang_link__active" href="#">RU</a>
			<span>&#47;</span>
			<a class="lang_link" href="#">UKR</a>
			<span>&#47;</span>
			<a class="lang_link" href="#">EN</a>
			<span>&#47;</span>
			<a class="lang_link" href="#">ESP</a>
			<span>&#47;</span>
			<a class="lang_link" href="#">PL</a>
		</div>
		<img src="img/white_logo_header.png" alt="Quadrate28" class="header_logo">
	</div>
	<ul class="header_menu">
		<li class="header_menu_item"><a class="header_menu_link" href="#">Кейсы</a></li>
		<li class="header_menu_item"><a class="header_menu_link" href="#">Команда</a></li>
		<li class="header_menu_item"><a class="header_menu_link" href="#">Ваши риски</a></li>
		<li class="header_menu_item"><a class="header_menu_link" href="#">Франчайзинг</a></li>
	</ul>
	<ul class="header_submenu">
		<li class="header_submenu_item"><a class="header_submenu_link" href="#">Quadrate 28 Startups</a></li>
		<li class="header_submenu_item"><a class="header_submenu_link" href="#">Quadrate 28 SMB</a></li>
		<li class="header_submenu_item"><a class="header_submenu_link" href="#">Quadrate 28 HR</a></li>
		<li class="header_submenu_item"><a class="header_submenu_link" href="#">Quadrate 28 Finance</a></li>
		<li class="header_submenu_item"><a class="header_submenu_link" href="#">Quadrate 28 Sales</a></li>
	</ul>
</nav>
<div class="burger">
    <div class="burger_l burger_l__top"></div>
    <div class="burger_l burger_l__middle"></div>
    <div class="burger_l burger_l__bottom"></div>
</div>
