<div class="intro_row">
	<div class="intro_col">
		<img class="intro_logo" src="img/red_logo_b.png" alt="Quadrate 28">
	</div>	
	<div class="intro_col">
		<div class="intro_content">
			<h2 class="sc-title sc-title__sm">Первая в мире группа компаний для стартапов малого и среднего бизнеса</h2>
			<p>Мы создали группу компаний, чтобы дать возможность владельцам бизнеса сконцентрироваться на своей основной деятельности и не тратить время на рутинную работу, которую хорошо могут выполнять профессионалы своего дела. </p>
		</div>	
	</div>	
</div>
