<div class="wrapper">
	<h2 class="sc-title">Какие<br>задачи<br> мы решаем</h2>
	<div class="tasks_content">
		<div class="tasks_block">
			<h3 class="sc-title sc-title__sm tasks_title">Каждая компания по отдельности, как и группа компаний в комплексе - в помощь каждому малому и среднему бизнесу. </h3>
		</div>
		<div class="tasks_block">
			<div class="tasks_items">
				<h4 class="tasks_subtitle">Экономим время</h4>
				<p class="tasks_text">А если по-честному, то освобождаем предпринимателей, владельцев бизнеса от рутинной работы и предоставляем возможность сконцентрироваться на производстве собственных продуктов или предложении услуг</p>
			</div>
			<div class="tasks_items">
				<h4 class="tasks_subtitle">Помогаем достичь бизнес-цели компании</h4>
				<p class="tasks_text">Будь-то финансовые или нефинансовые, группа компаний Quadrate 28 нацелена на то, чтобы ваш бизнес развивался и мы стали неотъемлемой частью вашей команды</p>
			</div>
			<div class="tasks_items">
				<h4 class="tasks_subtitle">Реализуем самые странные и самые сложные идеи</h4>
				<p class="tasks_text">Кроме крутых и интересных проектов, есть ежедневная операционная работа, которая должна кем-то быть выполнена. Мы не считаем ее скучной. Для нас операционная работа - это то, что мы любим больше всего. На этом строится бизнес-модель нашей компании</p>
			</div>
			<div class="tasks_items">
				<h4 class="tasks_subtitle">Выполняем рутинную работу</h4>
				<p class="tasks_text">Кроме крутых и интересных проектов, есть ежедневная операционная работа, которая должна кем-то быть выполнена. Мы не считаем ее скучной. Для нас операционная работа - это то, что мы любим больше всего. На этом строится бизнес-модель нашей компании</p>
			</div>
		</div>
	</div>
	<a href="#" class="btn-tr tasks_btn">Подробнее</a>
</div>