<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Quadrate 28</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="img/favicon.ico" type="image/x-icon">
        <link type="text/css" href="css/main.min.css" rel="stylesheet" media="screen">  
    </head>
    <body>
        <header class="header">
            {% include "_header.html" %}
        </header>
        <section class="intro">
            {% include "_intro.html" %}
        </section>
        <section class="departments">
            {% include "_departments.html" %}
        </section>
        <section class="country">
            {% include "_country.html" %}
        </section>
        <section class="about">
            {% include "_about.html" %}
        </section>
        <section class="tasks">
            {% include "_tasks.html" %}
        </section>
        <section class="team">
            {% include "_team.html" %}
        </section>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TweenMax.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.5/js/uikit.min.js"></script>
        <script src="js/layout/main.js"></script>
        <script src="js/scripts.min.js"></script>
    </body>
</html>        